@font-face {
  font-family: 'Mister-Font';
  src:  url('fonts/Mister-Font.eot?7d0bts');
  src:  url('fonts/Mister-Font.eot?7d0bts#iefix') format('embedded-opentype'),
    url('fonts/Mister-Font.woff2?7d0bts') format('woff2'),
    url('fonts/Mister-Font.ttf?7d0bts') format('truetype'),
    url('fonts/Mister-Font.woff?7d0bts') format('woff'),
    url('fonts/Mister-Font.svg?7d0bts#Mister-Font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mf {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Mister-Font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mf-accessories:before {
  content: "\e9d8";
}
.mf-tyre:before {
  content: "\e9d9";
}
.mf-burger-menu:before {
  content: "\e9d7";
}
.mf-easy-return:before {
  content: "\e9d6";
}
.mf-icon-price-security:before {
  content: "\e9d5";
}
.mf-return30:before {
  content: "\e9d4";
}
.mf-noise:before {
  content: "\e9d1";
}
.mf-rain:before {
  content: "\e9d2";
}
.mf-gas:before {
  content: "\e9d3";
}
.mf-suspensions:before {
  content: "\e913";
}
.mf-cash:before {
  content: "\e9cc";
}
.mf-free-delivery-in-shop:before {
  content: "\e9cd";
}
.mf-ribbon02_2:before {
  content: "\e9cb";
}
.mf-ribbon:before {
  content: "\e9ca";
  color: #e94f2d;
}
.mf-person:before {
  content: "\e91e";
}
.mf-ribbon-simple:before {
  content: "\e9c9";
  color: #4a4949;
}
.mf-fleche_droite:before {
  content: "\e9c7";
}
.mf-ma-pin:before {
  content: "\e9bb";
}
.mf-prix:before {
  content: "\e9b7";
}
.mf-fiabilite:before {
  content: "\e9b8";
}
.mf-securite:before {
  content: "\e9b9";
}
.mf-expertise:before {
  content: "\e9ba";
}
.mf-customer-service:before {
  content: "\e901";
}
.mf-money-2:before {
  content: "\e9b5";
}
.mf-arrow:before {
  content: "\e9b3";
  color: #fff;
}
.mf-cp_arrow:before {
  content: "\e9b4";
  color: #e94f2d;
}
.mf-economique:before {
  content: "\e9b2";
}
.mf-CB:before {
  content: "\e93b";
}
.mf-colis-rapide:before {
  content: "\e9b0";
}
.mf-colis:before {
  content: "\e9b1";
}
.mf-delivery_normal:before {
  content: "\e9af";
}
.mf-car3:before {
  content: "\e9ac";
}
.mf-book:before {
  content: "\e9c8";
}
.mf-reference:before {
  content: "\e9ae";
}
.mf-my-account:before {
  content: "\e9a7";
}
.mf-search:before {
  content: "\e9aa";
}
.mf-shopping-cart2:before {
  content: "\e9ab";
}
.mf-pro-selling:before {
  content: "\e9a2";
}
.mf-calendar:before {
  content: "\e9a1";
}
.mf-customers:before {
  content: "\e9a3";
}
.mf-express-delivery:before {
  content: "\e9a4";
}
.mf-items-in-stock:before {
  content: "\e9a5";
}
.mf-premium-brand:before {
  content: "\e9a6";
}
.mf-sameday-shipping:before {
  content: "\e9a8";
}
.mf-secure-card:before {
  content: "\e9a9";
}
.mf-warning2:before {
  content: "\e9a0";
}
.mf-money .path1:before {
  content: "\e99a";
  color: rgb(255, 255, 255);
}
.mf-money .path2:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.mf-money .path3:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.mf-back-arrow:before {
  content: "\e997";
}
.mf-customer:before {
  content: "\e998";
}
.mf-time:before {
  content: "\e999";
}
.mf-shopping-cart:before {
  content: "\e9ad";
}
.mf-checkout_dble_arrow:before {
  content: "\e994";
}
.mf-checkout_garbage:before {
  content: "\e995";
}
.mf-checkout_step_check:before {
  content: "\e993";
}
.mf-ico-livraison:before {
  content: "\e97d";
}
.mf-ico-hotline:before {
  content: "\e97e";
}
.mf-ico-home:before {
  content: "\e97f";
}
.mf-ico-calendar:before {
  content: "\e980";
}
.mf-ico-geolocation:before {
  content: "\e981";
}
.mf-ico-trust-pilot .path1:before {
  content: "\e982";
  color: rgb(1, 2, 2);
}
.mf-ico-trust-pilot .path2:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(1, 2, 2);
}
.mf-ico-trust-pilot .path3:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(1, 2, 2);
}
.mf-ico-trust-pilot .path4:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(1, 2, 2);
}
.mf-ico-trust-pilot .path5:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(1, 2, 2);
}
.mf-ico-trust-pilot .path6:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(1, 2, 2);
}
.mf-ico-trust-pilot .path7:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(1, 2, 2);
}
.mf-ico-trust-pilot .path8:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(1, 2, 2);
}
.mf-ico-trust-pilot .path9:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(1, 2, 2);
}
.mf-ico-trust-pilot .path10:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(1, 2, 2);
}
.mf-ico-trust-pilot .path11:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(1, 2, 2);
}
.mf-ico-trust-pilot .path12:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(1, 2, 2);
}
.mf-ico-trust-pilot .path13:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.mf-ico-trust-pilot .path14:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.mf-ico-trust-pilot .path15:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.mf-ico-trust-pilot .path16:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.mf-ico-trust-pilot .path17:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(102, 102, 102);
}
.mf-ico-tools:before {
  content: "\e97b";
}
.mf-left-arrow:before {
  content: "\e97c";
}
.mf-car2:before {
  content: "\e977";
}
.mf-info-bulle:before {
  content: "\e976";
}
.mf-payment_method:before {
  content: "\e945";
}
.mf-cross:before {
  content: "\e979";
}
.mf-medal:before {
  content: "\e972";
}
.mf-handshake:before {
  content: "\e973";
}
.mf-gears:before {
  content: "\e996";
}
.mf-promo:before {
  content: "\e971";
}
.mf-retour-step4:before {
  content: "\e96f";
}
.mf-retour-step5:before {
  content: "\e970";
}
.mf-retour-step1:before {
  content: "\e96e";
}
.mf-warning:before {
  content: "\e96d";
}
.mf-commandes:before {
  content: "\e964";
}
.mf-deconnexion:before {
  content: "\e965";
}
.mf-editer:before {
  content: "\e966";
}
.mf-info-perso:before {
  content: "\e967";
}
.mf-mes-vehicules:before {
  content: "\e968";
}
.mf-parrainnage:before {
  content: "\e969";
}
.mf-poubelle:before {
  content: "\e96a";
}
.mf-service-apres-vente:before {
  content: "\e96b";
}
.mf-service-client:before {
  content: "\e96c";
}
.mf-voitures:before {
  content: "\e963";
}
.mf-pastille_365:before {
  content: "\e962";
}
.mf-call-center-operator:before {
  content: "\e960";
}
.mf-arrow-down:before {
  content: "\e974";
}
.mf-arrow_down:before {
  content: "\e99b";
}
.mf-arrow-up:before {
  content: "\e95f";
}
.mf-arrow_up:before {
  content: "\e99c";
}
.mf-basket:before {
  content: "\e95b";
}
.mf-checked:before {
  content: "\e95c";
}
.mf-credit-cards-payment:before {
  content: "\e95d";
}
.mf-cadenas:before {
  content: "\e958";
}
.mf-centre_montage:before {
  content: "\e959";
}
.mf-rea_pa:before {
  content: "\e95a";
}
.mf-enveloppe:before {
  content: "\e950";
}
.mf-h-account:before {
  content: "\e948";
}
.mf-h-panier:before {
  content: "\e94f";
}
.mf-video:before {
  content: "\e946";
}
.mf-attention:before {
  content: "\e94c";
}
.mf-arrow_right_3:before {
  content: "\e94a";
}
.mf-medaille1:before {
  content: "\e94d";
}
.mf-chrono:before {
  content: "\e949";
}
.mf-carte_paiement:before {
  content: "\e95e";
}
.mf-loupe:before {
  content: "\e94e";
}
.mf-arrow-left:before {
  content: "\e947";
}
.mf-arrow-right:before {
  content: "\e975";
}
.mf-accessoires:before {
  content: "\e943";
}
.mf-gift:before {
  content: "\e942";
}
.mf-truck_assist:before {
  content: "\e940";
}
.mf-triangle_droite:before {
  content: "\e944";
  color: #333;
}
.mf-winter:before {
  content: "\e90d";
}
.mf-summer:before {
  content: "\e915";
}
.mf-clim:before {
  content: "\e90f";
}
.mf-pot-echappement:before {
  content: "\e910";
}
.mf-disque-frein:before {
  content: "\e911";
}
.mf-checklist:before {
  content: "\e912";
}
.mf-bougie:before {
  content: "\e914";
}
.mf-batterie:before {
  content: "\e90e";
}
.mf-roue:before {
  content: "\e90c";
}
.mf-outils:before {
  content: "\e90b";
}
.mf-volant:before {
  content: "\e90a";
}
.mf-car:before {
  content: "\e900";
}
.mf-eclair:before {
  content: "\e903";
}
.mf-info2:before {
  content: "\e905";
}
.mf-phare:before {
  content: "\e909";
}
.mf-huile:before {
  content: "\e908";
}
.mf-pack:before {
  content: "\e80d";
}
.mf-return:before {
  content: "\e80c";
}
.mf-faq:before {
  content: "\e609";
}
.mf-info:before {
  content: "\e60a";
}
.mf-star:before {
  content: "\e604";
}
.mf-gear:before {
  content: "\e605";
}
.mf-barcode:before {
  content: "\e606";
}
.mf-arrow-right-bold:before {
  content: "\e607";
}
.mf-arrow_right:before {
  content: "\e99d";
}
.mf-mail:before {
  content: "\e608";
}
.mf-secure:before {
  content: "\e600";
}
.mf-phone:before {
  content: "\e601";
}
.mf-cart:before {
  content: "\e602";
}
.mf-truck:before {
  content: "\e603";
}
.mf-gen_900001:before {
  content: "\e924";
}
.mf-gen_2:before {
  content: "\e93c";
}
.mf-gen_900005:before {
  content: "\e93d";
}
.mf-gen_3224:before {
  content: "\e80b";
}
.mf-gen_5032:before {
  content: "\e916";
}
.mf-gen_914:before {
  content: "\e917";
}
.mf-gen_1145:before {
  content: "\e918";
}
.mf-gen_1260:before {
  content: "\e919";
}
.mf-gen_458:before {
  content: "\e91a";
}
.mf-gen_83:before {
  content: "\e91b";
}
.mf-gen_78:before {
  content: "\e91c";
}
.mf-gen_900007:before {
  content: "\e91d";
}
.mf-gen_900110:before {
  content: "\e961";
}
.mf-gen_90078:before {
  content: "\e91f";
}
.mf-gen_243:before {
  content: "\e920";
}
.mf-gen_686:before {
  content: "\e921";
}
.mf-gen_3465:before {
  content: "\e922";
}
.mf-gen_298:before {
  content: "\e923";
}
.mf-gen_4:before {
  content: "\e925";
}
.mf-cat_12:before {
  content: "\e926";
}
.mf-fam_13:before {
  content: "\e92b";
}
.mf-fam_21:before {
  content: "\e93e";
}
.mf-fam_11:before {
  content: "\e927";
}
.mf-fam_5:before {
  content: "\e928";
}
.mf-fam_76:before {
  content: "\e929";
}
.mf-fam_44:before {
  content: "\e92a";
}
.mf-fam_1553:before {
  content: "\e92c";
}
.mf-fam_62:before {
  content: "\e92d";
}
.mf-fam_73:before {
  content: "\e92e";
}
.mf-fam_58:before {
  content: "\e92f";
}
.mf-fam_26:before {
  content: "\e930";
}
.mf-fam_32:before {
  content: "\e931";
}
.mf-fam_71:before {
  content: "\e932";
}
.mf-fam_7:before {
  content: "\e933";
}
.mf-fam_41:before {
  content: "\e934";
}
.mf-fam_27:before {
  content: "\e935";
}
.mf-cat_5:before {
  content: "\e936";
}
.mf-cat_10:before {
  content: "\e93f";
}
.mf-cat_11:before {
  content: "\e941";
}
.mf-cat_9:before {
  content: "\e937";
}
.mf-cat_6:before {
  content: "\e938";
}
.mf-cat_4:before {
  content: "\e939";
}
.mf-gen_577:before {
  content: "\e93a";
}
.mf-plaque-immat-FR:before {
  content: "\e9c6";
}
.mf-plaque-immat-FI:before {
  content: "\e9be";
}
.mf-plaque-immat-GB:before {
  content: "\e9bf";
}
.mf-plaque-immat-IE:before {
  content: "\e9c0";
}
.mf-plaque-immat-IT:before {
  content: "\e9c1";
}
.mf-plaque-immat-NL:before {
  content: "\e9c2";
}
.mf-plaque-immat-PT:before {
  content: "\e9c3";
}
.mf-plaque-immat-SE:before {
  content: "\e9c4";
}
.mf-plaque-immat-DK:before {
  content: "\e9c5";
}
.mf-plaque-immat-NO:before {
  content: "\e9bd";
}
.mf-plaque-immat-ES:before {
  content: "\e9bc";
}
.mf-Plaque_immat_ES:before {
  content: "\e97a";
}
.mf-Plaque_immat_FR2:before {
  content: "\e978";
}
.mf-Plaque_immat_DK:before {
  content: "\e951";
}
.mf-Plaque_immat_FR:before {
  content: "\e952";
}
.mf-Plaque_immat_IT:before {
  content: "\e953";
}
.mf-Plaque_immat_NO:before {
  content: "\e954";
}
.mf-Plaque_immat_PT:before {
  content: "\e955";
}
.mf-Plaque_immat_PT_droite:before {
  content: "\e956";
}
.mf-Plaque_immat_SE:before {
  content: "\e957";
}
.mf-Plaque_immat_FI:before {
  content: "\e94b";
}
.mf-Plaque_immat_GB:before {
  content: "\e904";
}
.mf-Plaque_immat_IE:before {
  content: "\e906";
}
.mf-Plaque_immat_NL:before {
  content: "\e907";
}
.mf-Plaque_immat:before {
  content: "\e902";
}
.mf-carte_grise:before {
  content: "\e9b6";
}
.mf-freinage:before {
  content: "\e9ce";
}
.mf-echappement:before {
  content: "\e9cf";
}
.mf-climatisation:before {
  content: "\e9d0";
}
.mf-allumage:before {
  content: "\e800";
}
.mf-autre-presta:before {
  content: "\e801";
}
.mf-electricite:before {
  content: "\e804";
}
.mf-general:before {
  content: "\e806";
}
.mf-interventions-ext:before {
  content: "\e807";
}
.mf-pneus:before {
  content: "\e808";
}
.mf-services:before {
  content: "\e809";
}
.mf-suspension:before {
  content: "\e80a";
}
.mf-vidange:before {
  content: "\e80e";
}
